<% title='About' ; active='about' ; %>

    <div class="minimal-container about mb-5">
        <h1 class="minimal-heading">About Hackumentary</h1>
        <p class="minimal-text">This blog shares behind-the-scenes stories of our hackathon experience and team
            creativity.</p>
        <p>
            Welcome to the Hackumentary webpage! This page was created during the HackAthlone event of the NASA
            Spaceapps Challenge by the team "Houston, We have a better solution". This team is composed of six members,
            all of us first year college students: Robert, Mark, Dylan, Ciara, Alex and George. We developed this
            project over the course of 48 hours, meeting and overcoming obstacles, and chugging coffee and cans of
            Monster all night to fight off sleep. This page is the story of our team's toil in developing a functioning
            project and our overall experience.
        </p>
        <p>
            In the week before the Hackathon, we endeavoured to attempt the "Build a Space Biology Knowledge Engine"
            challenge and create a page in which the user could search through scientific publications. We knew that
            this project would require immense skill we didn't yet have, but we were daring enough to tackle it.
        </p>
        <p>
            We begun 8pm on Friday. We set to work taking a dataset with the names and links to 608 experiment
            publications that our knowledge engine would contain. Training an A.I would, however, prove a major
            roadblock from the start, and through the night we were met with error after error and we began to lose
            morale (and sanity). We realised that this task was beyond our scope. When the morning came, we regrouped
            and decided on a new course.
        </p>
        <p>
            We came to the conclusion that for the remainder of our time, we would document our experience of our first
            hackathon. Luckily the night before, Alex had spent a considerable amount of time documenting our work
            through photos and videos and had interviewed other groups. We incorporated these media into this website.
            It showcases our struggles, our determination, and also our humorous moments. We had resolved before the
            hackathon to do it for the experience, and indeed it was an experience.
        </p>
        <p>
            We invite you to browse this website and join us in this thrilling experience.
        </p>
    </div>