<% title = 'Home'; active = 'home'; %>

<div class="home-container">
  <div class="welcome-section">
    <h1>Welcome to the Hackumentary Blog</h1>
    <p class="lead">Our journey through creativity and collaboration during the 48h Space Apps Challenge in Athlone.</p>
    
    <div class="button-section">
      <a href="/content" class="home-btn">View Content</a>
      <a href="/blogs" class="home-btn">Read Blogs</a>
    </div>
  </div>
</div>